In [58]:
import pandas as pd
import numpy as np

In [60]:
File = ("Data/vgsales.csv")

In [62]:
raw_df = pd.read_csv(File)

In [64]:
# Examining the first few rows of the dataset
raw_df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [66]:
#Confirming the data type in each column and any missing valuesâ€º
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [68]:
# Confirming if Regional Sales add up to Global sales
raw_df["Regional_Sum"] = raw_df["NA_Sales"] + raw_df["EU_Sales"] + raw_df["JP_Sales"] + raw_df["Other_Sales"]
print(raw_df[["Regional_Sum", "Global_Sales"]].head())

   Regional_Sum  Global_Sales
0         82.74         82.74
1         40.24         40.24
2         35.83         35.82
3         33.00         33.00
4         31.38         31.37

In [70]:
missing_values = raw_df.isnull().sum()
print("Missing values per column:", missing_values)

Missing values per column: Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
Regional_Sum      0
dtype: int64

In [72]:
raw_df["Year"].value_counts()

#We use the mode(2009) to fill the missing values because it preserves the dominant trend in the data, mean might be misleading in this case

Year
2009.0    1431
2008.0    1428
2010.0    1259
2007.0    1202
2011.0    1139
2006.0    1008
2005.0     941
2002.0     829
2003.0     775
2004.0     763
2012.0     657
2015.0     614
2014.0     582
2013.0     546
2001.0     482
1998.0     379
2000.0     349
2016.0     344
1999.0     338
1997.0     289
1996.0     263
1995.0     219
1994.0     121
1993.0      60
1981.0      46
1992.0      43
1991.0      41
1982.0      36
1986.0      21
1989.0      17
1983.0      17
1990.0      16
1987.0      16
1988.0      15
1985.0      14
1984.0      14
1980.0       9
2017.0       3
2020.0       1
Name: count, dtype: int64

In [74]:
#Calculating the modal year.
modal_year = int(raw_df["Year"].mode()[0])
print(modal_year)

2009

In [76]:
#Reassigning the updated values back to the Year column
raw_df["Year"] = raw_df["Year"].fillna(modal_year)

In [78]:
# Making sure Year is numeric
raw_df["Year"]=raw_df["Year"].astype(int)

In [80]:
# Verify that all missing values in 'Year' have been filled
print("Remaining missing values in 'Year':", raw_df['Year'].isnull().sum())

Remaining missing values in 'Year': 0

In [82]:
#Verifying the count of the Year column
raw_df["Year"].value_counts()

Year
2009    1702
2008    1428
2010    1259
2007    1202
2011    1139
2006    1008
2005     941
2002     829
2003     775
2004     763
2012     657
2015     614
2014     582
2013     546
2001     482
1998     379
2000     349
2016     344
1999     338
1997     289
1996     263
1995     219
1994     121
1993      60
1981      46
1992      43
1991      41
1982      36
1986      21
1989      17
1983      17
1990      16
1987      16
1988      15
1985      14
1984      14
1980       9
2017       3
2020       1
Name: count, dtype: int64

In [84]:
#Splitting the data to before and after 2005
Before_2005_Average = raw_df[raw_df["Year"] < 2005]
After_2005_Average = raw_df[raw_df["Year"] >= 2005]

In [86]:
#Average Global Sales before 2005
Before_2005_Average = round(raw_df[raw_df["Year"] < 2005]["Global_Sales"].mean(), 2)
print(f"Average Global Sales before 2005: {Before_2005_Average} million")

Average Global Sales before 2005: 0.65 million

In [88]:
#Average Global Sales after 2005
After_2005_Average = round(raw_df[raw_df["Year"]>= 2005]["Global_Sales"].mean(), 2)
print(f"Average Global Sales after 2005: {After_2005_Average} million")

Average Global Sales after 2005: 0.49 million

In [90]:
#New column to label records before or after 2005
raw_df["Release_Time"] = np.where(raw_df["Year"] < 2005, "pre-2005", np.where(raw_df["Year"]>=2005, "post-2005", raw_df["Year"]))
raw_df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Regional_Sum,Release_Time
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,82.74,post-2005
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,40.24,pre-2005
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,35.83,post-2005
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,33.00,post-2005
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,31.38,pre-2005

In [92]:
#Confirming the output
raw_df.tail()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Regional_Sum,Release_Time
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.0,0.0,0.01,0.01,pre-2005
16594,16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.0,0.0,0.01,0.01,pre-2005
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.0,0.0,0.01,0.00,post-2005
16596,16599,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01,0.01,post-2005
16597,16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01,0.01,pre-2005